[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasks = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"
python-dotenv = "*"
llama-index = "*"
llama-hub = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.11"
